# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
!.idea/runConfigurations/*.xml

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# The annoying little one
.DS_Store
/SORT_ID_REPORT.txt

/dev-env-utils/target/*
/dev-env-utils/target/
/dev-env-utils/target